@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: hwb(220 94% 4%);
  --secondary-color: #9071a0;
  --line-height: 1.7rem;
  --transition: 0.2s ease-in;
}

html, body {
    height: 100%;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

nav {
    background: rgb(106, 105, 105);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #504f4f;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 2rem;
  }
  
  .nav-link {
    font-weight: var(--bold-font);
  }

  #nav-active {
    background-color: #ff9999;
    padding: 20px;
  }

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", monospace;
  transition: var(--transition);
}

 body {
  background: linear-gradient(45deg, rgb(231, 238, 98), rgb(246, 138, 172));
  animation: gradient 15s ease infinite;
  color: black;
  font-weight: bolder;
  backdrop-filter: blur(10px);
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

a:hover{
  /* color: grad; */
  background-color: #FFCCD2;
  background-color: #ff9999;
  padding: 20px;
} 

main {
    background-color: rgba(128, 128, 128, 0.432);
    height: fit-content;
    margin: 5%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.habit {
    display: flex;
    background-color: rgba(255, 255, 255, 0.336);
    padding: 20px;
    justify-content: space-around;
    margin: 15px 0;
    border-radius: 10px;
}

.habit-section header {
    padding: 10px;
    border-bottom: 1px solid white;
}
header{
  text-align: center;
}
.habit p {
    margin: 0 10px;
}

/* .habit-section {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    height: 90%;
    width: 30%;
    display: flex;
    text-align: center;
} */

.habit-section {/* .stats-section */
  position: relative;
  background-color: aliceblue;
  min-width: 190px;
  min-height: 190px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(109, 10, 10, 0.474);
  transition: 0.8s;
}

#stats-section {
  background-color: white;
  padding: 15px;
  height: 250px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  border-radius: 20px;
  transition: 0.8s;
  min-width: 190px;
  min-height: 190px;
  box-shadow: 0 4px 12px rgba(109, 10, 10, 0.474);
}



#todo-section:hover {
  min-height: 370px;
  min-width: 350px;
  background: #FFCCD2;
  padding: 15px;
  
}

#completed-section:hover {
  min-height: 370px;
  min-width: 350px;
  background: #ceffcc;
  padding: 15px;
}

#stats-section:hover {
  min-height: 370px;
  min-width: 350px;
  background: #ccfcff;
  padding: 15px;
  /* transition: 0.8s; */
}

input, #cancel-btn {
  background-color: #fff;
  border-radius: 10px !important;
  padding: 12px 15px 12px 15px !important;
  /* width: 98%; */
  box-sizing: border-box;
  /* border: none !important; */
  border: 1px solid #FFCCD2 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
  margin: 10px ;
  /* margin-right: 10px; */
}

input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #FF9292 !important;
  outline-width: 0;
  font-weight: 400;
}




.stats p {
    margin: 0 10px;
}



/* #add-form {
  background-color: grey;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  display: none;
} */
#add-habit-form{
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%,-50%);
  background: #FFE699;
  border-radius: 10px;
  /* position: fixed; */
  padding: 20px;
  z-index: 999;

}

#logo {
  color: white;
}

#habitContainer {
  display: flex;
  flex-direction: column;
  color: red;
}

.eachHabit {
  border: 3px black solid;
}

#add-habit{
  position: absolute;
	color: black;
	/* border-style: outset; */
	/* border-color: #FFE699; */
	height: 5%;
	width: 12%;
  margin-bottom: 1%;
  /* margin-left: 1%; */
	/* font:  15px roboto,sans-serif; */
	text-shadow: none;
  border-radius: 10px;
  background-color: #fff;
  /* padding: 8px 40px; */
  cursor: pointer;
  border: 2px solid #ff9292 !important;
  text-align: center;
  font-family: "Roboto", monospace;
  font-weight: bold;
  align-self: flex-end;
}

#form-add, #cancel-btn {
  font-family: "Roboto", monospace;
  font-weight: bold;
}

/* form>a:hover{
  background:#f00 !important;
  color: white !important;
  cursor: pointer;
  display: inline-block;
 
} */

/* .habit {
  background: #FFCCD2;
  padding: 15px;
} */

/* 
@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
} */
