@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --line-height: 1.7rem;
  --transition: 0.2s ease-in;
}

html, body {
    height: 100%;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

nav {
    background: rgb(106, 105, 105);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #504f4f;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 2rem;
  }
  
  .nav-link {
    font-weight: var(--bold-font);
  }

  #nav-active {
    background-color: #ff9999;
    padding: 20px;
  }

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", monospace;
  transition: var(--transition);
}

 body {
  background: linear-gradient(45deg, rgb(231, 238, 98), rgb(246, 138, 172));
  animation: gradient 15s ease infinite;
  color: black;
  font-weight: bolder;
  backdrop-filter: blur(10px);
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

a:hover{
  /* color: grad; */
  background-color: #FFCCD2;
  background-color: #ff9999;
  padding: 20px;
} 


main {
    background-color: rgba(128, 128, 128, 0.57);
    /* background: linear-gradient(45deg, rgb(231, 238, 98), rgb(246, 138, 172)); */
    height: fit-content;
    margin: 5%;
    height: 70%; 
    font-family: "Roboto", "helvetica";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;   
    /* flex-wrap: wrap; */
}

/*  */

/* #profile-name {
  border: 1px blue solid;
  font-size: 44px;
  display: flex;  
  justify-content: flex-start;
  align-self: flex-start;
} */

header{
  display: flex;
  justify-content: space-around;
  width: 90%;
}

#desc{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

#progress, #bar{
  border-radius: 20px;
}

#progress-bar {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-evenly;
  font-size: 40px;
}

#progress {
  background-color: white;
  display: block;
  width: 70%;
}

#bar {
  height: 100%;
  background-color: yellowgreen;
}

#btns{
  display: flex;
  flex-direction: column;
}

#btns button {
  color: black;
	/* border-style: outset; */
	/* border-color: #FFE699; */
	/* height: 5%; */
	/* width: 20%; */
	font:  15px arial,sans-serif;
  margin: 10px;
	text-shadow: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 8px 40px;
  cursor: pointer;
  border: 2px solid #ff9292 !important;
  text-align: center;
  font-family: "Roboto", monospace;
  font-weight: bold;
}

#stats{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  flex-wrap: nowrap;
  /* padding: 75px; */
  width: 90%;
  text-align: center;
  /* gap: 100px; */
}

#logo {
  color: white;
}

#edit-habit-form {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%,-50%);
  background: #FFE699;
  border-radius: 10px;
  /* position: fixed; */
  padding: 20px;
  z-index: 2;
}

input, #exit {
  background-color: #fff;
  border-radius: 10px !important;
  padding: 12px 15px 12px 15px !important;
  box-sizing: border-box;
  border: 1px solid #FFCCD2 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
  margin: 10px ;
}
