* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
    /* font-weight: bold; */

  }
  ::placeholder { 
    color: rgb(135, 135, 135);
    
  }

  :root {
    --colour-one:grey;
    --colour-two: black;
    --colour-three: white;
    --colour-four: rgb(56, 55, 55);
    --colour-five: #5d1aed;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--colour-two) */
    background: linear-gradient(to left top, black, #3d0ca7);
  }
  .login_form {
    position: relative;
    border-bottom: 3px solid var(--colour-four);
    border-right: 3px solid var(--colour-four);
    background: var(--colour-one);
    height: 400px;
    width: 700px;
    box-shadow: 10px 10px 6px 2px #5d1aed;
    overflow: hidden;
  }
  .details {
    position: relative;
    background: var(--colour-two);
    height: 400px;
    width: 350px;
  }
  .welcome {
    position: absolute;
    color: var(--colour-three);
    left: 40%;
    top: 25%;
    font-size: large;
  }
  #wrap:nth-child(1) {
    position: absolute;
    top: 35%;
    left: 20%;
    margin: 12px;
  }
  #wrap:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 15px;
    margin: 12px;
  }
  #wrap:nth-child(3) {
    position: absolute;
    top: 68%;
    left: 20%;
    font-size: 15px;
    margin: 12px;
  }
  .input {
    border: 1px solid var(--colour-three);
    padding: 5px 20px;
    margin: 5px;
    border-radius: 5px;
    background: none;
    box-shadow: inset 10px 10px 6px -5px #5d1aed;
    color: white;
  }
  label {
    color: var(--colour-three);
    display: block;
  }
  .button {
    background: var(--colour-five);
    position: absolute;
    width: 80px;
    top: 70%;
    right: 10%;
    padding: 5px;
    border-radius: 10px;
    border: none;
  }
  .button .sign {
    color: #fff;
    font-size: 15px;
  }

  .back {
    position: absolute;
    top: 44%;
    left: 56%;
    font-size: 20px;
  }
  .log {
    position: absolute;
    top: 50%;
    left: 56%;
    font-size: 14px; 
  }
  

