@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: hwb(220 94% 4%);
  --secondary-color: #5d1aed;
  --line-height: 1.7rem;
  --transition: 0.2s ease-in;
}

body {
  font-family: "Roboto", Sans-Serif;
  /* background-image: url("../images/background-image.jpeg"); */
  color: white;
  background-color: black;
}


.Aligner{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 5em; 
}

a{
  display: flex;
  justify-content: space-around;
}


.button {
  background-color: #5d1aed;
  border: none;
  border-radius: 10px ;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;

}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.margin-right {
  margin-right: 50px;
}
